@model Homework.Data.ViewModels.ArticlesCreate

@{
    ViewData["Title"] = "Create";
}

@section HeadCss {
    <!-- #region font-awesome 5.15.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- #endregion font-awesome 5.15.1 -->
    <!-- #region pickadate.js v3.5.6 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/themes/classic.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/themes/classic.date.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/themes/classic.time.css" rel="stylesheet" />
    <!-- #endregion pickadate.js v3.5.6 -->
    <!-- #region select2 v4.0.13 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <!-- #endregion select2 v4.0.13 -->
}
<h4>文章建立</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="CoverPhoto" class="control-label"></label>
                    <input asp-for="CoverPhoto" class="form-control" />
                    <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                </div>
            *@
            @*<div class="form-group">
                    <label asp-for="CoverPhotoImg" class="control-label"></label>
                    <input asp-for="CoverPhotoImg" type="file" class="form-control" />
                    <span asp-validation-for="CoverPhotoImg" class="text-danger"></span>
                </div>*@

            @*<div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>*@
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagsArray" class="control-label"></label>
                <select asp-for="TagsArray" class="form-control" multiple="multiple" />
                <span asp-validation-for="TagsArray" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CreateDate" class="control-label"></label>*@
                <input type="text" asp-for="CreateDate" class="form-control mt-3" placeholder="請輸入建立日期" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group custom-file">
                <input asp-for="CoverPhotoImg" type="file" class="form-control custom-file-input" />
                <label asp-for="CoverPhotoImg" class="control-label custom-file-label"></label>
                <span asp-validation-for="CoverPhotoImg" class="text-danger"></span>
            </div>

            <div class="form-group my-2 row justify-content-center">
                <input type="submit" value="建立文章" class="btn btn-success" />
            </div>
        </form>
    </div>
    @Html.Hidden("tagCloudTextUrl", Url.Action("JsonGetTagCloudText", "Management"))
</div>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">回到文章管理</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- #region pickadate.js v3.5.6 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.date.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/compressed/picker.time.js"></script>
    <!-- #endregion pickadate.js v3.5.6 -->
    <!-- #region select2 v4.0.13 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <!-- #endregion select2 v4.0.13 -->
    <!--#region CKEditor-->
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    <!--#endregion CKEditor-->

    <script src="~/js/managementCreate.js" asp-append-version="true"></script>
}